{
  "plugins": [
    "transform-react-jsx",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ]
}
