name: CI

on:
  - pull_request
  - push

jobs:
  ci:
    name: Continuous integration
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 'current'
      -
        name: Enable corepack
        run: |
          corepack install yarn@1
          corepack enable
      -
        name: Install dependencies
        run: yarn install
      -
        name: Check build
        run: yarn build
      -
        name: Check coding standards
        run: yarn lint
      -
        name: Run tests
        run: yarn test
